html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
html {
background-image: url("http://4.bp.blogspot.com/-vxWMBjUjE6c/VLAQyoleS5I/AAAAAAAAC_4/K8H4r2GgvJk/s1600/tma-chalkboard.jpg");
background-repeat: no-repeat;
background-size: 100% 100%;
}
body {
    color: e0dbd1;
    font-size: 150%;
    font-family: "Papyrus", sans-serif;
}
h1, h2 {
    /*font-family: "Comic Sans MS", "Chalkboard", cursive;*/
    font-family: "Chalkduster","Bradley Hand ITC TT", cursive;
    text-align: center;
    margin-bottom: .5em;
}
h2{ font-size: 1.25em;}
#subtitle {
    font-family: "Papyrus";
    text-align: center;
}

img#cat {
    width:33%;
    margin: 0 auto;
    display: block;
}

textarea {
    background-image: url("http://2.bp.blogspot.com/-QkCoXoBvbxA/VLAQzOgQVLI/AAAAAAAAC_8/YIXjaEbbALk/s1600/8621_chalkboard.jpg");
    font-family: "Bradley Hand ITC TT";
    font-size: .75em;
    /*border: 10px solid;*/
    color: e0dbd1;
    margin: 5% auto;
    width: 33%;
    height: 33%;
    display: block;
}
input[type="submit"] {

     background:none;
     color:red;
     border:none;
     padding:0;
     margin: 15px 32px;
     font: inherit;

    float: right;
     /*border is optional*/
     border-bottom:1px solid #444;
     cursor: pointer;
     text-decoration: none;
}
a {
    font-family: "Chalkduster","Bradley Hand ITC TT", cursive;
    color: red;
    text-decoration: none;
    padding: 15px 32px;
    display: inline-block;
    float: right;
}
a:hover {

    text-decoration: underline;
    font-weight: bold;
}




footer {
    padding: 0;
    margin: 0;
    width: 100%;
    position: absolute;
    bottom: 0px;
}
